// Mixins
dual($name, $normal, $small)
    {$name}: $normal;
    @media only screen and (max-width: 748px)
        {$name}: $small;

scheme($name, $light, $dark)
    {$name}: $light;
    @media (prefers-color-scheme: dark)
        {$name}: $dark;

dualr($name, $normal, $small)
    *
        dual($name, $normal, $small);

schemer($name, $light, $dark)
    *
        scheme($name, $light, $dark);

// Fonts
$font-family = "Libertinus Serif", "Georgia", "Noto Serif SC", serif;
$monospace = "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;

// Colors
$theme-color = #60a5fa;
$text-color = #181818;
$text-color-d = #d1d5db;
$background-light = #eef6ff;
$background-dark = #0b1324;

// SVG
$checkbox-svg = 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>';
